/* Global Styles */
:root {
	--primary-color: #8167a9;
	--dark-color: #14151a;
	--light-color: #ffffff;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background-image: url('./img/BG.jpg');
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
	transition: all 200ms linear;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

ul {
	list-style: none;
	letter-spacing: -0.5px;
	transition: 700ms ease;
	font-variation-settings: 'wght' 311;
}

img {
	width: 100%;
}

/* Utilities */
.container {
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
	padding: 2rem;
	margin-top: 6rem;
	margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.large {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.lead {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.text-center {
	text-align: center;
}

.text-primary {
	color: var(--primary-color);
}

.text-dark {
	color: var(--dark-color);
}

/* Padding */
.p {
	display: flex;
	padding: 0.5rem;
	border-radius: 0.5rem;
	align-items: center;
	justify-content: center;
}
.p-1 {
	padding: 1rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}
.py {
	padding: 0.5rem 0;
}
.py-1 {
	padding: 1rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}

/* Margin */
.m {
	margin: 0.5rem;
}
.m-1 {
	margin: 1rem;
}
.m-2 {
	margin: 2rem;
}
.m-3 {
	margin: 3rem;
}
.my {
	margin: 0.5rem 0;
}
.my-1 {
	margin: 1rem 0;
}
.my-2 {
	margin: 2rem 0;
}
.my-3 {
	margin: 3rem 0;
}

.btn {
	position: relative;
	display: inline-block;
	top: 35%;
	width: auto;
	height: auto;
	max-width: 20rem;
	min-height: 0.5rem;
	padding: 0.5rem 2rem;
	margin: 1rem;
	border: 2px solid rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.3);
	letter-spacing: 0.1rem;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}

/* For mobile phones: */
[class*='btn-s'] {
	width: 100%;
}

.badge {
	font-size: 0.8rem;
	padding: 0.1rem;
	text-align: center;
	margin: 0.3rem;
	background: var(--light-color);
	color: #333;
}

.alert {
	width: 100%;
	margin: 1rem auto;
	padding: 1rem;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 0 15px 5px #ccc;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
	background: var(--primary-color);
	color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
	background: var(--light-color);
	color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
	background: var(--dark-color);
	color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
	background: var(--danger-color);
	color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
	background: var(--success-color);
	color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
	background: #fff;
	color: #333;
	border: #ccc solid 1px;
}

.btn:hover {
	opacity: 0.8;
	cursor: pointer;
	transform: scale(1.02);
	box-shadow: 6px 8px 10px var(--dark-color);
}

.bg-light,
.badge-light {
	border: #ccc solid 1px;
}

.round-img {
	border-radius: 50%;
}

.line {
	height: 1px;
	background: #ccc;
	margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Forms */
.form .form-group {
	margin: 1.2rem 0;
}

.form .form-text {
	display: block;
	margin-top: 0.3rem;
	color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: 1px solid #ccc;
}

.form input[type='submit'],
button {
	font: inherit;
}

.form .social-input {
	display: flex;
}

.form .social-input i {
	padding: 0.5rem;
	width: 4rem;
}

.form .social-input i.fa-twitter {
	color: #38a1f3;
}
.form .social-input i.fa-facebook {
	color: #3b5998;
}
.form .social-input i.fa-instagram {
	color: #3f729b;
}
.form .social-input i.fa-youtube {
	color: #c4302b;
}
.form .social-input i.fa-linkedin {
	color: #0077b5;
}

.table td {
	padding: 0.25rem;
	text-align: center;
	border: 1px ridge;
}
.table th {
	background-color: rgba(32, 20, 26, 0.705);
	padding: 0.5rem;
	border: 1px solid;
	color: #fff;
}

.table {
	font-size: 15px;
	text-transform: capitalize;
	background-image: url('./img/ExpBG.png');
	background-color: rgb(237, 205, 240);
	background-position: center;
	background-repeat: repeat;
	background-size: 50%;
	box-shadow: 6px 8px 10px var(--dark-color);
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem;
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0;
	border-bottom: solid 2px var(--primary-color);
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 0.45rem;
	margin: 0 0.25rem;
}

.navbar a:hover {
	color: var(--primary-color);
	font-weight: 100;
}

.navbar .welcome span {
	margin-right: 0.6rem;
}

/* Landing Page */
.landing {
	position: relative;
	background: url('./img/showcase.jpg') no-repeat center center/cover;
	height: 100vh;
}

.video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0.5;
}

.landing-inner {
	color: #fff;
	height: 100%;
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* Profiles Page */
.profile {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr;
	align-items: center;
	grid-gap: 2rem;
	padding: 1rem;
	line-height: 1.8;
	margin-bottom: 1rem;
	border-radius: 1rem;
}

/* Profile Page */
.profile-grid {
	display: grid;
	grid-template-areas:
		'top top'
		'about about'
		'exp edu'
		'github github';
	grid-gap: 1rem;
}

.profile-top {
	grid-area: top;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 1rem;
}

.profile-top img {
	width: 250px;
}

.profile-top .icons a {
	color: #fff;
	margin: 0 0.3rem;
}

.profile-top .icons a:hover {
	color: var(--dark-color);
}

.profile-about {
	grid-area: about;
	text-align: center;
	border-radius: 1rem;
}

.profile-about .skills {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.profile-exp {
	grid-area: exp;
	border-radius: 1rem;
}

.profile-edu {
	grid-area: edu;
	border-radius: 1rem;
}

.profile-exp h2,
.profile-edu h2 {
	margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
	border: 0;
}

.profile-exp p,
.profile-edu p {
	margin: 0.5rem 0;
}

.profile-github {
	grid-area: github;
}

.profile-github .repo {
	display: flex;
}

.profile-github .repo > div:first-child {
	flex: 7;
	flex-basis: 70%;
}

.profile-github > div:last-child {
	flex: 3;
	flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
	background: var(--primary-color);
	padding: 0.5rem;
}

.post {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 2rem;
	align-items: center;
	border-radius: 1rem;
}

.post > div:first-child {
	text-align: center;
}

.post img {
	width: 100px;
}

.post .comment-count {
	background: var(--light-color);
	color: var(--primary-color);
	padding: 0.1rem 0.2rem;
	border-radius: 5px;
	font-size: 0.8rem;
}

.post .post-date {
	color: #aaa;
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
	.container {
		margin-top: 8rem;
	}

	.hide-sm {
		display: none;
	}

	/* Text Styles */
	.x-large {
		font-size: 3rem;
	}

	.large {
		font-size: 2rem;
	}

	.lead {
		font-size: 1rem;
	}

	/* Navbar */
	.navbar {
		display: block;
		text-align: center;
	}

	.navbar ul {
		text-align: center;
		justify-content: center;
	}

	.navbar h1 {
		margin-bottom: 1rem;
	}

	.navbar .welcome {
		display: none;
	}

	/* Profiles Page */
	.profile {
		grid-template-columns: 1fr;
		text-align: center;
	}

	.profile ul {
		display: none;
	}

	/* Profile Page */

	.profile-top img,
	.profile img {
		width: 200px;
		margin: auto;
	}

	.profile-grid {
		grid-template-areas:
			'top'
			'about'
			'exp'
			'edu'
			'github';
	}

	.profile-about .skills {
		flex-direction: column;
	}

	.dash-buttons a {
		display: block;
		width: 100%;
		margin-bottom: 0.2rem;
	}

	.post {
		grid-template-columns: 1fr;
	}
	.post a,
	.post button {
		padding: 0.3rem 0.4rem;
	}
}

.alert-wrapper {
	position: fixed;
	top: 4rem;
	right: 2rem;
	display: inline-block;
}

/* .developers:hover {
	opacity: 0.8;
	cursor: pointer;
	transform: translateY(calc(35px - 200%));
	transition-duration: 0.5s;
} */

/* Icon Float Away */
@-webkit-keyframes hvr-icon-float-away {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-1em);
		transform: translateY(-1em);
	}
}
@keyframes hvr-icon-float-away {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-1em);
		transform: translateY(-1em);
	}
}
/* Icon Rotate */
.hvr-icon-rotate {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-icon-rotate .hvr-icon {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-icon-rotate:hover .hvr-icon,
.hvr-icon-rotate:focus .hvr-icon,
.hvr-icon-rotate:active .hvr-icon {
	-webkit-transform: rotate(100deg);
	transform: rotate(100deg);
}

/* Icon Bounce */
.hvr-icon-bounce {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-icon-bounce .hvr-icon {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-icon-bounce:hover .hvr-icon,
.hvr-icon-bounce:focus .hvr-icon,
.hvr-icon-bounce:active .hvr-icon {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Icon Pop */
@-webkit-keyframes hvr-icon-pop {
	50% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
}
@keyframes hvr-icon-pop {
	50% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
}
.hvr-icon-pop {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-icon-pop .hvr-icon {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-icon-pop:hover .hvr-icon,
.hvr-icon-pop:focus .hvr-icon,
.hvr-icon-pop:active .hvr-icon {
	-webkit-animation-name: hvr-icon-pop;
	animation-name: hvr-icon-pop;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

/* Icon Buzz Out */
@-webkit-keyframes hvr-icon-buzz-out {
	10% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	20% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
	30% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	40% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
	50% {
		-webkit-transform: translateX(2px) rotate(1deg);
		transform: translateX(2px) rotate(1deg);
	}
	60% {
		-webkit-transform: translateX(-2px) rotate(-1deg);
		transform: translateX(-2px) rotate(-1deg);
	}
	70% {
		-webkit-transform: translateX(2px) rotate(1deg);
		transform: translateX(2px) rotate(1deg);
	}
	80% {
		-webkit-transform: translateX(-2px) rotate(-1deg);
		transform: translateX(-2px) rotate(-1deg);
	}
	90% {
		-webkit-transform: translateX(1px) rotate(0);
		transform: translateX(1px) rotate(0);
	}
	100% {
		-webkit-transform: translateX(-1px) rotate(0);
		transform: translateX(-1px) rotate(0);
	}
}
@keyframes hvr-icon-buzz-out {
	10% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	20% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
	30% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	40% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
	50% {
		-webkit-transform: translateX(2px) rotate(1deg);
		transform: translateX(2px) rotate(1deg);
	}
	60% {
		-webkit-transform: translateX(-2px) rotate(-1deg);
		transform: translateX(-2px) rotate(-1deg);
	}
	70% {
		-webkit-transform: translateX(2px) rotate(1deg);
		transform: translateX(2px) rotate(1deg);
	}
	80% {
		-webkit-transform: translateX(-2px) rotate(-1deg);
		transform: translateX(-2px) rotate(-1deg);
	}
	90% {
		-webkit-transform: translateX(1px) rotate(0);
		transform: translateX(1px) rotate(0);
	}
	100% {
		-webkit-transform: translateX(-1px) rotate(0);
		transform: translateX(-1px) rotate(0);
	}
}
.hvr-icon-buzz-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-icon-buzz-out .hvr-icon {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.hvr-icon-buzz-out:hover .hvr-icon,
.hvr-icon-buzz-out:focus .hvr-icon,
.hvr-icon-buzz-out:active .hvr-icon {
	-webkit-animation-name: hvr-icon-buzz-out;
	animation-name: hvr-icon-buzz-out;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.small-img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

.shadow-box {
	background: chocolate;
	position: absolute;
	left: 35px;
	right: 35px;
	bottom: 0;
	height: 5px;
	box-shadow: 0 70px 20px 5px rgba(0, 0, 0, 0.12);
	-webkit-animation: 2s hover infinite ease-in-out alternate,
		2s shadow infinite ease-in-out alternate;
	-moz-animation: 2s hover infinite ease-in-out alternate,
		2s shadow infinite ease-in-out alternate;
	animation: 2s hover infinite ease-in-out alternate,
		2s shadow infinite ease-in-out alternate;
}

@keyframes hover {
	0% {
		transform: translateY(5%);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes shadow {
	0% {
		left: 20px;
		right: 20px;
		box-shadow: 0 60px 15px 5px rgba(0, 0, 0, 0.1);
	}
	100% {
		left: 35px;
		right: 35px;
		box-shadow: 0 70px 20px 5px rgba(0, 0, 0, 0.12);
	}
}

.typing-demo {
	width: fit-content;
	animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 2px solid;
	font-family: monospace;
	font-size: 1.25em;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

/*======================
    404 page
=======================*/

.page_404 {
	padding: 20px 0;
	background: #fff;
}

.page_404 img {
	width: 100%;
}

.four_zero_four_bg {
	background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
	height: 400px;
	background-position: center;
}

.four_zero_four_bg h1 {
	font-size: 80px;
}

.four_zero_four_bg h3 {
	font-size: 80px;
}

.link_404 {
	color: #fff !important;
	padding: 10px 20px;
	background: var(--primary-color);
	margin: 20px 0;
	display: inline-block;
}
.contant_box_404 {
	margin-top: -50px;
}
.loading {
	display: flex;
	gap: 12px;
}

.loading div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: var(--primary-color);
	border-radius: 50%;
	box-shadow: 0 -0.4rem rgba(80, 0, 67, 0.1) inset;
	animation: cycle 1s ease-in-out infinite;
}

.loading div:nth-child(1) {
	animation-delay: 0;
}

.loading div:nth-child(2) {
	animation-delay: 0.2s;
}

.loading div:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes cycle {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(1rem);
	}

	100% {
		transform: translateY(0);
	}
}
